<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435739869162-7gj7o8om6uaflc056g56lc9n54vanb0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435739869162-7gj7o8om6uaflc056g56lc9n54vanb0k</string>
	<key>API_KEY</key>
	<string>AIzaSyD9saAno2rQtLIU0eCnakPGOSaalaIMveM</string>
	<key>GCM_SENDER_ID</key>
	<string>435739869162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.chimata.novellus</string>
	<key>PROJECT_ID</key>
	<string>org-chimata-novellus</string>
	<key>STORAGE_BUCKET</key>
	<string>org-chimata-novellus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:435739869162:ios:2cf5caadf458169f2b3c93</string>
	<key>DATABASE_URL</key>
	<string>https://org-chimata-novellus.firebaseio.com</string>
</dict>
</plist>
